<ion-header [translucent]="false" class="ion-no-border">
  <ion-toolbar color="primary">

      <ion-buttons class="custom-button">
      <ion-button (click)="redireccionPagina()">
        <ion-icon name="arrow-back-outline" size="medium"></ion-icon>
      </ion-button>
      </ion-buttons>


    <div class="textoinicio">
    <ion-title>Hola!</ion-title>
    </div>
    <div class="subtituloinicio">
      <ion-title style="font-size: 15px;">Bienvenido.</ion-title>
      </div>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="form-container">
      <form (ngSubmit)="registro()">
          <ion-item>
              <ion-icon aria-hidden="true" name="airplane" slot="start"></ion-icon>
              <ion-input placeholder="Nombre" [clearInput]="true" [(ngModel)]="nombre" name="nombre" required></ion-input>
          </ion-item>

          <ion-item>
              <ion-icon aria-hidden="true" name="airplane" slot="start"></ion-icon>
              <ion-input placeholder="Apellido" [clearInput]="true" [(ngModel)]="apellido" name="apellido" required></ion-input>
          </ion-item>

          <ion-item>
              <ion-icon aria-hidden="true" name="airplane" slot="start"></ion-icon>
              <ion-input placeholder="Correo" type="email" [clearInput]="true" [(ngModel)]="correo" name="correo" required></ion-input>
          </ion-item>

          <ion-item>
              <ion-icon aria-hidden="true" name="airplane" slot="start"></ion-icon>
              <ion-input placeholder="Contraseña" type="password" [(ngModel)]="contra" name="contra" required></ion-input>
          </ion-item>

          <ion-button expand="block" fill="clear" shape="round">
              Click me
          </ion-button>
      </form>
  </div>
</ion-content>

